{% comment %} ALLVERSE Shopify Theme - templates/index.liquid {% endcomment %}
{% render 'beae_header' %}
<div class="allverse-enterprise">
  {% section 'hero' %}
  {% section 'contact-cta' %}
  {% section 'trust-bar' %}
  {% section 'workflow' %}
  {% section 'features' %}
  {% section 'pricing' %}
</div>
{% render 'beae_footer' %}
{% render 'beae_ab_snippet' %}